.game-over-container {
  margin: 30px;
  background-color: $ui-bg;
  box-shadow:  0 0  8px $border;
  height: 337px;
  width: 640px;
  .game-over {
    font-weight: 700;
    font-size: 5em;
    margin-bottom: 20px;
  }
}