

// COLOR PALETTE


$text: #222222;
$light-text: #7a7a7a;

$neutral: #ffffff;
$ui-bg: #ac9f9f;

$btn: #7b8b8b;
$border: #0000004b;
$pop: #a57fcf;

//BREAKING POINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;